.experiencia {
  max-width: 1500px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo{
  display: inline-block;
  color: var(--cor-exp);
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 60ch;
  color: var(--cor-letralocal);
}

.experiencia-texto strong {
  color: var(--cor-letras);
}

.empresa {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background: var(--cor-empback);
  box-shadow: 0 0 2px #acacaccb, 0 0 5px #acacaccb;
  margin-bottom: 20px;
  border-radius: 4px;
  gap: 10px 20px;
  border-left: 4px solid transparent;
}

.empresa::before {
  position: absolute;
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  top: 20px;
  left: -4px;
}

.empresa:hover {
  border-left: 4px solid #67dd0a;
  box-shadow: 0 0 8px #bfca5b, 0 0 15px #bcdaa5;
  transition: 1.5s ease;
  transition-delay: 0s !important;
  background: var(--cor-exphover);
  cursor: pointer;
}

.empresa-ano {
  position: absolute;
  width: 80px;
  top: 22px;
  left: -100px;
  text-align: right;
  color: var(--cor-letralocal);
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  color: var(--cor-letralocal);
  line-height: 1.4;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  background: var(--cor-fundohab);
  box-shadow: 0 0 2px #494949cb, 0 0 5px #424242cb;
  border-radius: 4px;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: var(--cor-exp);
  }

  .experiencia-texto {
    font-size: 1.25rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    color: #141414;
    font-weight: bold;
  }
}

@media (max-width: 370px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
