body {
  height: 100%;
  margin: 0px;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
  background: linear-gradient(
    #b1aaaaf7,
    #ffffffff,
    #a5c6c7f7,
    #ffffffff,
    rgb(195, 216, 192)
  );
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;         /* Mantém o bloco estreito */
  word-break: break-all;     /* Não força quebra no meio das palavras */
  overflow-wrap: break-word; /* Permite quebra em palavras longas */
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 5rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}

@media (max-width: 500px) {
  .subtitulo {
    max-width: 5ch !important;
  }
}

@media (max-width: 300px) {
  .subtitulo {
    font-size: 4rem;
  }
}

@media (max-width: 250px) {
  .subtitulo {
    font-size: 3.5rem;
  }
}

