:root {
  --cor-fundo: linear-gradient(
    #b1aaaaf7,
    #ffffffff,
    #a5c6c7f7,
    #ffffffff,
    rgb(195, 216, 192)
  );
  --cor-letras: #141414;
  --cor-menu: #2c2c2c;
  --cor-hovermenus: #cacaca;
  --cor-backgroundmenu: #ededed;
  --cor-letralocal: #525252;
  --cor-exp: #c9c9c9;
  --cor-empback: #f5f5f5;
  --cor-fundohab: #fff;
  --cor-exphover: #c0c0c0;
}

.darkmode {
  --cor-fundo: linear-gradient(to bottom, #000 0%, #100e22 50%, #141229 100%);
  --cor-letras: #fff;
  --cor-menu: #e6e6e6;
  --cor-hovermenus: #4e4e4e;
  --cor-backgroundmenu: #292929;
  --cor-letralocal: #c0c0c0;
  --cor-exp: #1a1a1a;
  --cor-empback: #111111;
  --cor-fundohab: #000000;
  --cor-exphover: #3d3d3d;
}

body {
  height: 100%;
  margin: 0px;
  font-family: "Fira Sans", Arial, sans-serif;
  color: var(--cor-letras);
  background: var(--cor-fundo);
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch; /* Mantém o bloco estreito */
  word-break: break-all; /* Não força quebra no meio das palavras */
  overflow-wrap: break-word; /* Permite quebra em palavras longas */
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 5rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}

@media (max-width: 500px) {
  .subtitulo {
    font-size: 4rem;
    max-width: 6ch !important;
  }
}

@media (max-width: 300px) {
  .subtitulo {
    font-size: 3.5rem;
  }
}

@media (max-width: 250px) {
  .subtitulo {
    font-size: 3rem;
  }
}
