/* Reset e base */
* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Estilos base */
.nome {
  font-size: 3rem;
  font-weight: bold;
  color: #141414;
  white-space: nowrap;
}

.header {
  max-width: 1500px;
  width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu desktop */
.header-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  font-size: 1.25rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #141414;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: 1.5px solid transparent;
}

.header-menu a:hover {
  background-color: #ccccccc7;
  border: 1.5px solid #67dd0a;
  box-shadow: 0 0 6px #67dd0a, 0 0 8px rgb(186, 238, 199);
  transition: 1.5s ease;
}

/* Menu hamburguer */
#menuToggle {
  display: none;
  position: relative;
  z-index: 1000;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2000;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #2c2c2c;
  border-radius: 3px;
  z-index: 1500;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(3) {
  transform-origin: 0% 100%;
}

/* Animação para X */
#menuToggle input:checked ~ span {
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 0;
  transform: scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:first-child {
  transform: rotate(45deg) translate(-2px, -1px);
}

/* Menu lateral */
#menu {
  position: absolute;
  top: 60px;
  right: 0;
  width: 250px;
  max-width: 80vw;
  padding: 40px 20px 20px 20px;
  background: #ededed;
  list-style: none;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transform-origin: 100% 0;
  transition: transform 0.5s ease, opacity 0.3s ease;

  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}

#menu a {
  text-decoration: none;
  color: #141414;
  background: transparent;
  padding: 10px;
  border: 1.5px solid transparent;
}

#menu a:hover {
  background: #cacaca;
  padding: 10px;
  border: 1.5px solid #67dd0a;
  box-shadow: 0 0 6px #67dd0a, 0 0 8px #c4e7a9;
  transition: 1.5s ease;
}

#menu li {
  padding: 10px 0;
  font-size: 1.25rem;
}

/* Mostrar menu ao clicar */
#menuToggle input:checked ~ ul {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

/* Responsividade */
@media (max-width: 850px) {
  .header-menu {
    display: none;
  }
  #menuToggle {
    display: block;
  }
}

@media (min-width: 851px) {
  #menuToggle {
    display: none;
  }
  .header-menu {
    display: flex;
  }
}

/* Textos */
.experiencia-texto,
.formacao-texto {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #141414;
}

@media (max-width: 500px) {
  .nome {
    font-size: 2rem;
  }
}