.language-selector {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column-reverse; /* ordem normal: botão em cima, menu embaixo */
  align-items: flex-start;
  z-index: 1000;
  font-size: 1.2rem;
}

/* botão */
#selected-lang {
  cursor: pointer;
  color: #1f1f1f;
  background: #808080ad;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
}

#selected-lang:hover {
  background: #2e2e2e;
  color: #ffffff;
  box-shadow: 0 0 6px #bfca5b, 0 0 8px #bcdaa5;
  border-radius: 5px;
  transition: 1s ease;
}

/* menu oculto por padrão */
#language-options {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #8b8b8bd2;
  border-radius: 5px;

  transform: scaleY(0); /* escondido */
  transform-origin: bottom; /* começa do bottom */
  transition: transform 0.3s ease;
}

/* quando .open, aparece */
.language-selector.open #language-options {
  transform: scaleY(1);
  color: #1f1f1f;
  background: #808080ad;
}

/* itens do menu */
#language-options li {
  cursor: pointer;
  padding: 5px 10px;
}

#language-options li:hover {
  background: #2e2e2e;
  color: #ffffff;
  box-shadow: 0 0 3px #bfca5b, 0 0 4px #bcdaa5;
  border-radius: 5px;
  transition: 1s ease;
}

#selected-lang,
#language-options li {
  display: flex;
  align-items: center; /* alinha verticalmente */
  gap: 5px; /* espaço entre bandeira e texto */
}
