.hidden{
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-30%) ;
  transition: opacity 3s, filter 3s, transform 3s;
}

.hidden-up {
  opacity: 0;
  filter: blur(15px);
  transform: translateY(20%);
  transition: opacity 3s, filter 3s, transform 3s;
}

.hidden-up-forte {
  opacity: 0;
  filter: blur(15px);
  transform: translateY(100%);
  transition: opacity 3s, filter 3s, transform 3s;
}

.hidden-down {
  opacity: 0;
  filter: blur(15px);
  transform: translatex(30%);
  transition: opacity 3s, filter 3s, transform 3s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: opacity 3s, filter 3s, transform 3s;
}

.experiencia-empresas :nth-child(2){
  transition-delay: 100ms;
}

.experiencia-empresas :nth-child(3){
  transition-delay: 300ms;
}

.experiencia-empresas :nth-child(4){
  transition-delay: 500ms;
}

.faculdade-lista :nth-child(2){
  transition-delay: 400ms;
}

.faculdade-lista :nth-child(3){
  transition-delay: 700ms;
}

.footer-contato :nth-child(2){
  transition-delay: 400ms;
}

.footer-contato  :nth-child(3){
  transition-delay: 700ms;
}

.footer-contato  :nth-child(4){
  transition-delay: 1000ms;
}